* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.popup-wrapper {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.popup-wrapper.show {
  opacity: 1;
  pointer-events: auto;
}

.comment-popup {
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 500px;
  max-width: 100%;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.popup-bottom {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 30px 0;
}

.close {
  align-self: flex-end;
  border-radius: 5px;
}

header {
  position: fixed;
  background: #6cf;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header-container {
  display: flex;
}

.header-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-list li {
  font-size: 1.3rem;
  padding: 0 1.5rem;
  list-style-type: none;
}

.header-list li a {
  color: black;
}

.meal-img {
  height: 300px;
  width: 400px;
}

.userName,
.comm-sub,
.userComment {
  padding: 5px;
  align-self: flex-start;
  border: 2px solid black;
  border-radius: 5px;
}

.comm-sub {
  background-color: #fff;
  box-shadow: 3px 2px;
  font-weight: 600;
  font-size: 25px;
  width: 170px;
}

.userComment {
  margin: 15px 0;
}

.meal-data {
  text-align: center;
}

.description {
  font-size: larger;
}

footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 60px;
  background: #6cf;
  text-align: center;
}

.heart-icon {
  height: 30px;
  width: 50px;
}

.meal-list {
  display: grid;

  /* margin-left: 50%; */
  margin-top: 5rem;

  /* transform: translateX(-50%); */
  align-content: space-around;
  grid-template-columns: auto auto auto;
  grid-column-gap: 6rem;
  grid-row-gap: 4rem;
  padding-left: 0;
}

.meal-list li {
  list-style-type: none;
}

.meal-list li img {
  width: 180px;
}

.bottom {
  margin-bottom: 7rem;
}

.pop {
  border: 2px solid black;
  background-color: #fff;
  box-shadow: 3px 2px;
  font-weight: 600;
  font-size: 16px;
  margin-left: 50%;
  transform: translateX(-50%);
}

button {
  cursor: pointer;
  margin-top: 2rem;
}

.main-container {
  padding-top: 30px;
  padding-bottom: 60px;
}

.like {
  cursor: pointer;
  color: red;
}

.list-content {
  list-style-type: none;
  text-align: left;
}

.item-list {
  position: relative;
  top: 6rem;
}

.item-list h3 {
  text-align: center;
}
