body {
  margin: 0;
}

.header-container {
  display: flex;
  background: #6cf;
}

.header-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-list li {
  font-size: 1.3rem;
  padding: 0 1.5rem;
  list-style-type: none;
}

.header-list li a {
  color: black;
}

.meal-img {
  height: 400px;
  width: 400px;
}

.popup-top {
  display: flex;
  flex-direction: column;
  margin: 10px 300px;
}

.popup-bottom {
  display: flex;
  flex-direction: column;
  margin: 20px 500px;
  padding: 30px 0;
}

.userName {
  padding: 5px;
  align-self: center;
}

.userComment {
  margin: 15px 0;
  padding: 5px;
}

.comm-sub {
  padding: 5px;
  align-self: flex-end;
}

.com-count,
.meal-data {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 60px;
  background: #6cf;
  text-align: center;
}

button {
  cursor: pointer;
}

.heart-icon {
  height: 30px;
  width: 50px;
}
